.gradle
.DS_Store
/build
/app/build
.hgignore
.hg
.hgtags
*.apk
session.vim
.idea/assetWizardSettings.xml
.idea/caches
.idea/libraries
.idea/misc.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/vcs.xml
.idea/workspace.xml
app/google-services.json
*.iml
